.btn {
  font-size: 1.4rem;
  font-weight: 400;
  background: var(--red-dark);
  color: var(--white);
  cursor: pointer;
  padding: 0.75rem 2.4rem;
  border: 0.1rem solid var(--red-dark);
  line-height: 2rem;
  transition: 300ms ease-in-out;
  text-decoration: none;

  &.sm {
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
  }

  &.lg {
    padding: 1rem 3rem;
    font-size: 1.6rem;
  }

  &.left {
    justify-self: start;
  }

  &.right {
    justify-self: end;
  }

  &.top {
    align-self: start;
  }

  &.bottom {
    align-self: end;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:hover {
    background: var(--red);
    border: 0.1rem solid var(--red-darker);
  }

  &.secondary {
    background: var(--gray-darkest);
    border: 0.1rem solid var(--gray-muted);
    color: var(--gray-muted);

    &:hover {
      background: var(--red);
      border: 0.1rem solid var(--red-darker);
      color: var(--white);
    }
  }

  &.outline {
    background: var(--gray-darkest);
    border: 0.1rem solid var(--red-dark);
    color: var(--red-dark);

    &:hover {
      background: var(--red-dark);
      border: 0.1rem solid var(--red-darker);
      color: var(--white);
    }
  }

  &.success {
    background: var(--green);
    border: 0.1rem solid var(--green);
    color: var(--white);

    &:hover {
      background: var(--green-dark);
      border: 0.1rem solid var(--green-dark);
    }
  }

  &.info {
    background: var(--bright-blue);
    border: 0.1rem solid var(--bright-blue);
    color: var(--gray-darkest);

    &:hover {
      background: var(--bright-blue-dark);
      border: 0.1rem solid var(--bright-blue-dark);
    }
  }

  &.warning {
    background: var(--gold);
    border: 0.1rem solid var(--gold);
    color: var(--gray-darkest);

    &:hover {
      background: var(--gold-dark);
      border: 0.1rem solid var(--gold-dark);
    }
  }

  &.danger {
    background: var(--danger-red);
    border: 0.1rem solid var(--danger-red);
    color: var(--white);

    &:hover {
      background: var(--light-red);
      border: 0.1rem solid var(--light-red);
    }
  }
}