.drawer {
  display: grid;
  background: var(--gray-darker);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);

  .drawer-header {
    display: grid;
    grid-template-columns: 1fr 3rem;
    margin: 2rem;
    cursor: pointer;

    h2 {
      align-self: center;
      margin: 0;
    }

    .drawer-header-icon {
      font-size: 2.4rem;
      align-self: center;
      color: var(--red-dark);
      cursor: pointer;
      transition: transform 150ms ease-in-out;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .drawer-content {
    height: 0;
    overflow-y: hidden;
    transition: height 150ms ease-in-out;
    background: var(--gray-text);
  }

  &.open .drawer-content {
    height: 100%;
    overflow-y: visible;
  }
}