.app-header {
    background: url('/hero.jpg');
    height: 14rem;
    display: grid;
    grid-template-columns: 18rem 1fr;
    position: relative;
    z-index: 0;
}

.app-header .app-header-logo {
    max-height: 10rem;
    width: auto;
    align-self: center;
    padding-left: 2rem;
    z-index: 2;
}

.app-header .app-main-navigation {
    position: absolute;
    background: rgba(34, 34, 34, 0.90);
    backdrop-filter: blur(0.3rem);
    height: calc(100vh - 14rem);
    width: 100vw;
    z-index: 1;
    top: 14rem;
    right: -100vw;
    transition: 200ms ease-in-out;
}

.app-header .app-main-navigation.true {
    right: 0;
}

.app-header .app-hamburger {
    display: grid;
    align-self: center;
    justify-self: end;
    row-gap: 0.6rem;
    padding-right: 2rem;
    z-index: 2;
}

.app-header .app-hamburger .app-hamburger-line {
    background: var(--gray-lightest);
    height: 0.4rem;
    width: 3.6rem;
    border-radius: 1rem;
}

.app-header .app-main-navigation .nav-links {
    display: grid;
    font-size: 2.8rem;
    row-gap: 1.2rem;
    font-weight: 700;
    padding: 2rem;
    justify-items: end;
}

.app-header .app-main-navigation .nav-links a {
    color: var(--gray-lightest);
    text-decoration: none;
    transition: 200ms ease-in-out;
}