.modal[open] {
  width: 100vw;
  height: 100vh;
  border: none;
  background: rgba(36, 36, 36, 0.75);
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  display: grid;

  .modal-body {
    margin: 2rem;
    border: 0.1rem solid var(--gray-dark);
    background: var(--gray-darker);
    display: grid;
    row-gap: 2rem;
    place-self: center;

    .modal-header {
      display: grid;
      background: var(--red);
      padding: 0.4rem;

      .modal-close {
        justify-self: end;
        align-self: center;
        font-size: 4rem;
        color: var(--gray-lightest);
        cursor: pointer;
      }
    }

    .modal-content {
      display: grid;
      padding: 2rem;
    }
  }
}