.modal {
    width: 100vw;
    height: 90vh;
    background: none;
    border: none;
    margin: auto ;
    position: fixed;
}

.modal::backdrop {
    background: rgba(36, 36, 36, 0.75);
}

.modal .modal-body {
    margin: 2rem;
    border: 0.1rem solid var(--gray-dark);
    background: var(--gray-darker);
    display: grid;
    row-gap: 2rem;
}

.modal .modal-body .modal-header {
    display: grid;
    background: var(--red);
    padding: 0.4rem;
}

.modal .modal-body .modal-header .modal-close {
    justify-self: end;
    align-self: center;
    font-size: 4rem;
    color: var(--gray-lightest);
    cursor: pointer;

}

.modal .modal-body .modal-content {
    display: grid;
    padding: 2rem;
}