section.project-checklist {
  display: grid;
  row-gap: 1rem;

  .drawer-content {
    display: grid;
    grid-auto-flow: row;
  }

  .project-todo {
    padding: 0.5rem 2rem 0.5rem;
    display: grid;
    grid-template-columns: 1fr 10rem;
    background: #444;

    .todo-name {
      font-size: 1.4rem;
      font-weight: bold;
      margin: 0;
      align-self: center;
      color: var(--gray-lightest);
    }

    .todo-approver {
      place-self: center;
      margin: 0;
      color: var(--gray-lightest);
    }

    button:disabled {
      cursor: not-allowed;
    }

    &.approved {
      column-gap: 2rem;
      grid-template-columns: 2fr 1fr 10rem;
    }

    &:nth-child(even) {
      background: #555;
    }
  }
}
