ul.project-nested-list {
  list-style: none;
  padding-left: 1rem;

  ul {
    list-style: none;
    padding-left: 2rem;

    p.project-nested-item-name {
      font-size: 1.5rem;
    }
  }

  li.project-nested-list-top {
    margin-bottom: 3rem;
  }

  li.project-nested-list-bottom {

    p.project-nested-item-name {
      font-size: 1.8rem;
    }

    section.project-nested-details {
      padding-left: 2rem;

      a {
        font-size: 1.2rem;
        text-decoration: underline;
        color: var(--gray-lighter);

        &:hover {
          color: var(--gray-lighter);
        }

        &:active {
          color: var(--gray-lighter);
        }
      }
    }
  }
}
