.people-view {
    display: grid;
    grid-gap: 2rem;
    grid-template-areas:
        "jumbotron"
        "details"
        "projects"
        "biography"
        "medical-information"
        "emergency";

    .dashboard-jumbotron {
        grid-area: jumbotron;
    }


    .person-biography {
        grid-area: biography;
    }

    .person-details {
        grid-area: details;
    }

    .person-projects {
        grid-area: projects;
        .dashboard-container-content {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
            column-gap: 2rem;

            
        }
    }

    .person-medical-information {
        grid-area: medical;
    }

    .person-emergency-contact {
        grid-area: emergency;
    }

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "jumbotron jumbotron"
            "details biography"
            "emergency medical"
            "projects projects";
    }

    @media screen and (min-width: 1440px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "jumbotron jumbotron jumbotron"
            "details password biography"
            "details emergency biography"
            "details medical biography"
            "projects projects biography";
    }
}