.project-view {
  .project-details-container {
    .dashboard-container-header {
      grid-template-columns: 3rem 1fr 20rem;
    }
  }

  .project-people-container {
    .dashboard-container-content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
      justify-items: start;

      .people-information {
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
        position: relative;
        transition: 300ms ease-in-out;

        &:hover {
          box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
          transform: scale(1.02);
        }

        .people-image {
          width: 16rem;
          height: 16rem;
          background-color: var(--gray-text);
          z-index: 1;
        }

        .people-actions {
          position: absolute;
          display: grid;
          grid-auto-flow: column;
          column-gap: 1rem;
          z-index: 2;
          font-size: 2.4rem;
          top: 0.6rem;
          right: 0.6rem;

          .view-person {
            color: var(--gray-lightest);
          }

          .unlink-person {
            color: var(--red-darker);
            cursor: pointer;
          }
        }

        .people-meta {
          padding: 1.2rem 0.8rem;

          p {
            margin: 0;
            align-self: center;
            font-size: 1.6rem;
            text-align: center;
          }
        }
      }
    }
  }

  .project-vendors-container,
  .project-locations-container {
    .dashboard-container-content {
      display: grid;
      row-gap: 0.8rem;

      .vendor-information,
      .location-information {
        display: grid;
        grid-template-columns: 1fr 6rem;
        align-items: center;

        p {
          font-size: 1.6rem;
          margin: 0;
        }

        .vendor-buttons,
        .location-buttons {
          display: grid;
          grid-auto-flow: column;
          column-gap: 1rem;
          align-items: center;

          a {
            font-size: 2.4rem;
            height: 2.4rem;
            color: var(--gray-lightest);
            align-self: center;
          }

          .unlink-vendor,
          .unlink-location {
            color: var(--red-darker);
            font-size: 2.4rem;
            cursor: pointer;
          }
        }
      }
    }
  }

  .project-festivals-container,
  .project-cast-container {
    ul.project-nested-list {
      list-style: none;
      padding-left: 1rem;

      ul {
        list-style: none;
        padding-left: 2rem;

        p.project-nested-item-name {
          font-size: 1.5rem;
        }
      }

      li.project-nested-list-top {
        margin-bottom: 3rem;
      }

      li.project-nested-list-bottom {
        p.project-nested-item-name {
          font-size: 1.8rem;
        }

        section.project-nested-details {
          padding-left: 2rem;

          a {
            font-size: 1.2rem;
            text-decoration: underline;
            color: var(--gray-lighter);

            &:hover {
              color: var(--gray-lighter);
            }

            &:active {
              color: var(--gray-lighter);
            }
          }
        }
      }
    }
  }

  .project-crew-container {
    .dashboard-container-content {
      display: grid;
      row-gap: 1rem;
      .drawer .drawer-content {
		display: grid;
		row-gap: 0.1rem;
		background: var(--gray-muted);
        .crew-component {
			display: grid;
			grid-template-columns: 1fr 10fr 10.6rem;
			column-gap: 1rem;
			grid-template-areas: 
				"role name actions";
			background: var(--gray-text);
			padding: 0.4rem;

          p {
			grid-area: name;
            margin: 0;
            font-size: 1.6rem;
            padding: 1rem 4.2rem;
          }

		  strong {
			grid-area: role;
			font-size: 1.6rem;
			align-self: center;
			color: var(--gray-lightest);
			justify-self: end;
		  }

		  .crew-actions {
			grid-area: actions;
			font-size: 2.4rem;
			height: 2.4rem;
			place-self: center;
			display: grid;
			grid-auto-flow: column;
			column-gap: 1rem;

			.unlink-crew {
			  color: var(--red-darker);
			  cursor: pointer;
			}

			.view-crew {
			  color: var(--gray-lightest);
			  cursor: pointer;
			}
		  }
        }
      }
    }
  }

  .project-checklist-container {
    .project-checklist {
      display: grid;
      row-gap: 1rem;

      .drawer-content {
        display: grid;
        grid-auto-flow: row;
      }

      .project-todo {
        padding: 0.5rem 2rem 0.5rem;
        display: grid;
        grid-template-columns: 1fr 10rem;
        background: #444;

        .todo-name {
          font-size: 1.4rem;
          font-weight: bold;
          margin: 0;
          align-self: center;
          color: var(--gray-lightest);
        }

        .todo-approver {
          place-self: center;
          margin: 0;
          color: var(--gray-lightest);
        }

        button:disabled {
          cursor: not-allowed;
        }

        &.approved {
          column-gap: 2rem;
          grid-template-columns: 2fr 1fr 10rem;
        }

        &:nth-child(even) {
          background: #555;
        }
      }
    }
  }

  .project-cast-container {
    .dashboard-container-content {
      display: grid;
      row-gap: 1rem;

      .drawer .drawer-content {
        display: grid;
        row-gap: 0.1rem;
        background: var(--gray-muted);
        .cast-component {
          display: grid;
          grid-template-columns: 1fr 6rem;
          row-gap: 0.4rem;
          padding: 1rem 2.6rem 1rem 2.2rem;
          grid-template-areas: "role actions" "name actions";
          background: var(--gray-text);

          strong {
            grid-area: role;
            align-self: center;
            font-size: 1.4rem;
            color: var(--gray-lightest);
          }

          p {
            grid-area: name;
            margin: 0 0 0 2rem;
          }

          .cast-actions {
            height: 2.4rem;
            grid-area: actions;
            font-size: 2.4rem;
            align-self: center;
            display: grid;
            grid-auto-flow: column;
            column-gap: 1rem;

            .view-cast {
              color: var(--gray-lightest);
              cursor: pointer;
            }

            .unlink-cast {
              color: var(--red-darker);
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .project-festivals-container {
    .dashboard-container-content {
      display: grid;
      row-gap: 1rem;

      .drawer .drawer-content .festival-component {
        display: grid;
        grid-template-areas:
          "email status"
          "strategy early"
          "strategy deadline"
          "actions submitted";

        padding: 1rem 2.6rem 1rem 2.2rem;
        column-gap: 4rem;

        .festival-actions {
          grid-area: actions;
          display: grid;
          grid-auto-flow: column;
          column-gap: 2rem;
          grid-template-columns: repeat(3, 3rem);

          .festival-link {
            align-self: center;
            font-size: 3rem;
            color: var(--gold);
            cursor: pointer;
          }
          :nth-child(2) {
            color: var(--gray-lighter);
          }

          :nth-child(3) {
            color: var(--red);
          }
        }

        .festival-email {
          grid-area: email;

          a {
            color: var(--red);
          }
        }

        .festival-strategy {
          grid-area: strategy;
        }

        .festival-status {
          grid-area: status;
        }

        .festival-early-deadline {
          grid-area: early;
        }

        .festival-deadline {
          grid-area: deadline;
        }

        .festival-submitted {
          grid-area: submitted;
        }
      }
    }
  }

  .dashboard-jumbotron {
    grid-area: jumbotron;
  }

  .project-details-container {
    grid-area: details;
  }

  .project-checklist-container {
    grid-area: checklist;
  }

  .project-crew-container {
    grid-area: crew;
  }

  .project-locations-container {
    grid-area: locations;
  }

  .project-vendors-container {
    grid-area: vendors;
  }

  .project-cast-container {
    grid-area: cast;
  }

  .project-festivals-container {
    grid-area: festivals;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    grid-template-areas:
      "jumbotron jumbotron jumbotron jumbotron"
      "details details locations locations"
      "details details vendors vendors"
      "crew crew checklist checklist"
      "crew crew checklist checklist"
      "cast cast festivals festivals"
      "cast cast festivals festivals";
  }

  @media screen and (min-width: 1440px) {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2rem;
    grid-template-areas:
      "jumbotron jumbotron jumbotron jumbotron jumbotron jumbotron"
      "details details checklist checklist crew crew"
      "locations locations cast cast festivals festivals"
      "vendors vendors cast cast festivals festivals";
  }
}
