:root {
    --danger-red: #dc3545;
    --light-red: #be313c;
    --red: #B01E24;
    --red-dark: #9A1A20;
    --red-darker: #7D151B;
    --gray-lightest: #EFEFEF;
    --gray-lighter: #CCC;
    --gray-muted: #777;
    --gray-text: #555;
    --gray-darker: #333;
    --gray-darkest: #222;
    --white: #FFF;
    --green: #198754;
    --green-dark: #157347;
    --bright-blue: #0dcaf0;
    --bright-blue-dark: #0badd6;
    --gold: #ffc107;
    --gold-dark: #d39e00;

    background: var(--gray-darkest);
}

html, body {
    font-size: 10px;
    font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.app-body {
    display: grid;
    grid-template-rows: 14rem 1fr 30rem;
    min-height: 100vh;
}

.app-body .app-content {
    padding: 0 2rem;
}

h1 {
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--gray-lightest);
}

h2 {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--gray-lightest);
    margin-block-end: 0.5rem;
}

h3 {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--gray-lightest);
    margin-block-end: 0;
}

h4 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--gray-lightest);
}

h5 {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--gray-lightest);
}

h6 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--gray-lightest);
}

p {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--gray-lighter);
}